body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Vertical {
  display: flex;
  flex-direction: column;
}

.Horizontal {
  display: flex;
  flex-direction: row;
}

.FixedHeader {
  position: 'fixed';
  top: 30;
  left: 0;
  width: '100%';
  background: 'silver';
  border: '3px solid gold';
  border-top-style: 'none';
}

@media screen and (max-width: 600px) {
  .FixedHeader {
    position: 'fixed';
    top: 30;
    left: 0;
    border: '3px solid gold';
    border-top-style: 'none';
    background: 'red';
    width: 600px;
  }
}